<div class="p-comment__item">
  <p><%= simple_format(comment.comment) %></p>
  <div class="p-comment__bottomLine">
    <span><%= comment.name %></span>
    <span><%= comment.created_at.to_s(:datetime_jp) %></span>
    <span><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Delete Are you sure you want to?' } %></span>
  </div>
</div>

