<div class="d-flex align-items-center">
  <div class="ml-auto articles__linkBox mt-4 mb-4">
    <%= link_to '記事一覧', articles_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
<%= render partial: 'form', locals: { article: @article } %>
