<div class="d-flex align-items-center">
  <h1>記事編集</h1>
  <div class="ml-auto articles__linkBox">
    <%= link_to '記事一覧', articles_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
<%= render partial: 'form', locals: { article: @article } %>
