<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto boards__linkBox">
    <%= link_to '記事一覧', articles_path, class: 'btn btn-outline-dark' %>
    <a href="/boards" class="btn btn-outline-dark">編集</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4><%= @article.title %></h4>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(@article.body) %></p>
    <p class="text-right font-weight-bold mr-10"><%= @article.name %></p>
  </div>
</div>
