<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto boards__linkBox">
    <%= link_to '記事一覧', articles_path, class: 'btn btn-outline-dark' %>
    <%= link_to '編集', edit_article_path(@article), class: 'btn btn-outline-dark' %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-primary">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= render @article %>
