.navbar-brand {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem !important;
  padding-top: 0rem !important;
  margin-right: 2rem !important;
  color: #5cb85c !important;
}

.mastfoot {
  color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  text-align: center;
}

.content-area {
  min-height: 70vh;
}
